doctype html
head
  title NerdLuv
  meta(charset='utf-8')
  link(href='/images/heart.gif' type='image/gif' rel='shortcut icon')
  link(href='css/nerdluv.css' type='text/css' rel='stylesheet')
include ./header.pug
div
  h1 Welcome!
  p Welcome to Nerdluv, #{name}
  p Now 
    a(href="http://localhost:1000/matchesform") login to see your matches!